@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: white;
    font-family: "Roboto", sans-serif;
}
.khung {
    width: 500px;
    margin: 0 auto;
    border: 2px solid gray; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.image img{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}
.image_small{
    display: flex;
    justify-content: center;
}
.image_small img {
    display: inline-block;
    width: 70px;
    height: auto;
    border: 0.5px solid gray;
    margin: 0px 5px;
}
.info{
    margin: 5px 10px;
}
.dacdiem{
    font-size: 18px;
    font-weight: 600;
}
ul{
    margin-left: -10px;
}
li{
    color: red;
}
li p{
    color: black;
    font-size: 14px;
}